<div class="container mt-4">
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron">
        <h1 class="display-3">Welcome to </h1>
        <div class="text-center"><img  class="img-fluid" [src]="'assets/images/wigglr-logo.png'" alt="Wigglr Logo"></div>
        <p class="lead">This is the place to <i>customize</i> your <b><em>Deals</em></b> or <b><em>Coupons</em></b> and spread the word through Social Media</p>
        <hr class="my-4">
        <p>Choose across multiple readymade templates...</p>
        <p class="lead">
          <a class="btn btn-primary btn-md" routerLink="/deals" role="button">Deals</a>
          <a class="btn btn-primary btn-md" routerLink="/coupons" role="button">Coupons</a>
        </p>
      </div>
    </div>
  </div>
</div>